:root {
  --primary-text-color: #212121;
  --second-text-color: #2196f3;
  --second-text-logo-color: #ffffff;
  --background-head-color: #ffffff;
  --background-work-color: #e5e5e5;
  --background-comand-color: #f5f4fa;
  --background-footer-color: #2f303a;
  --p-text-color: #757575;
  --contakt-footer-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  /*background-color: lightgreen; фоновый цвет что бы были видны белые элементы макета*/
}

/*------------------ глобальные изменения ------------------*/

li {
  list-style: none;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  /*outline: 1px solid rgb(250, 5, 5);*/
}

/*------------------ Header box ------------------*/

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-box {
  background: var(--background-head-color);
  border-bottom: 1px solid #ececec;

  /*outline: 1px solid green;*/
}

.navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.site-nav .nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-adress {
  display: flex;
}

.site-nav-adress .nav-adress + .nav-adress {
  margin-left: 50px;
}

/*------------------ Hero box ------------------*/
.hero-box {
  height: 600px;
  background: #2f303a;
  padding-top: 200px;
}

/*------------------ Work box ------------------*/



.work-box {
  background: var(--background-head-color);
  margin: 0px;
  padding-top: 94px;
  padding-bottom: 94px;

  /*outline: 1px solid green;*/
}

.work-box-foto{
  padding-top: 94px;
}


/*------------------ Team box ------------------*/
.team-box {
  padding-top: 94px;
  padding-bottom: 94px;

  background: var(--background-comand-color);
}

/*------------------ Footer box ------------------*/
.box-footer {
  background: var(--background-footer-color);
  height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
}

/*------------------ logo main and footer ------------------*/

.logo,
.logo-footer,
.logo-end-head,
.logo-end-footer {
  font-family: Raleway;
  font-weight: 700;
  font-style: inherit;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo {
  color: var(--second-text-color);
  text-decoration: none;

  /*outline: 1px solid rgb(245, 8, 8);
  background-color: rgb(255, 251, 0);*/
}

.logo-end-head {
  color: var(--primary-text-color);
  text-decoration: none;

  /*outline: 1px solid red;*/
}

.logo-footer {
  display: flex;
  color: var(--second-text-color);
  text-decoration: none;
  

  /*outline: 1px solid rgb(245, 8, 8);
  background-color: rgb(255, 251, 0);*/
}

.logo-end-footer {
  color: var(--second-text-logo-color);

  /*outline: 1px solid green;*/
}

/*------------------ button navi header ------------------*/

.site-navi-link {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  /*outline: 1px solid green;*/

  padding-top: 32px;
  padding-bottom: 32px;
}

.site-navi-link:hover,
.site-navi-link:focus {
  color: var(--second-text-color);
}

/*------------------ contakt header ------------------*/
.contakt-head {
  display: block;

  color: var(--p-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  /*outline: 1px solid green;*/

  padding-top: 32px;
  padding-bottom: 32px;
}

.contakt-head:hover,
.contakt-head:focus {
  color: var(--second-text-color);
}

/*------------------ contakt footer ------------------*/

.contakt-footer-addres-color,
.contakt-footer-color {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  
}

.contakt-footer-addres-color {
  color: var(--background-head-color);
  padding-top: 20px;
  margin-bottom: 9px;
}

.contakt-footer-color, .contakt-footer-addres {
  color: var(--contakt-footer-color);
}

.contakt-footer-addres {
  display: flex;
  flex-direction: column;
}

.footer-addres-mail{
  margin-bottom: 9px;
}



/*------------------ block hero ------------------*/
.section-title-hero {
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-head-color);
  margin-bottom: 30px;
}

/*------------------ block hero button ------------------*/
.button-hero {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--background-head-color);
  background: var(--second-text-color);
  border-color: transparent;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
}

/*------------------ section to work ------------------*/

.work-hidden-text{
  text-align: center;
  display: none;
}

/*.work-list {
  display: flex;  
  flex-wrap: wrap;
}*/

.section-work {
  display: flex;
  width: 1170px;
  height: 100px;

  /*margin-top: 94px;
  margin-bottom: 94px;*/
}

.work-text{  
  width: 270px;
}

.section-work .work-text:not(:last-child) {
  margin-right: 30px;
}

.section-work-foto {
  display: flex;
}

.section-work-foto .position-foto-work:not(:last-child) {
  margin-right: 30px;
}

h3.section-title-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);

  /*outline: 1px solid green;*/

  margin-bottom: 10px;
}

p.section-p-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--p-text-color);

  margin-bottom: 94px;

  /*outline: 1px solid green;*/
}

h2.section-title-work {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  /*outline: 1px solid green;*/
}



/*------------------ my team ------------------*/

h3.section-team-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  margin-bottom: 10px;

  /*outline: 1px solid green;*/
}

p.section-p-team-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--p-text-color);

  /*outline: 1px solid green;*/
}

.manager-box {
  width: 270px;
  height: 368px;
}

.team-line {
  display: flex;
}

.team-line .line-manager:not(:last-child) {
  margin-right: 30px;
}

.section-title-work {
  margin-bottom: 50px;
}

.line-manager {
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.manager-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

/*------------------ portfolio page ------------------*/

/*------------------ portfolio navi block ------------------*/
.button-navi-port {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background: var(--background-comand-color);
  width: auto;
  border-color: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  /*outline: 1px solid green;*/
}

.button-navi-port:hover,
.button-navi-port:focus {
  color: var(--background-head-color);
  background: var(--second-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-btn {
  display: flex;
  width: 1200px;
  margin-bottom: 50px;
}

.item-portfolio-btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.item-portfolio-btn .position-btn:not(:last-child) {
  margin-right: 8px;
}

.position-btn{
  margin: 0px;
  padding: 0px;
}

.portfolio-section{
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;

}

/*------------------ my projects ------------------*/

.projekt-section {
  display: flex;
  flex-wrap: wrap;
}

.project-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.project-item:nth-child(3n) {
  margin-right: 0;
}

.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

h2.section-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

p.section-p-text-port {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--p-text-color);
}

.section-title {
  display: block;
}

.card-text-portfolio {
  padding: 20px 25px;
}
